@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}






/* NOW GAME RELATED STUFF */





.myGamesItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  padding: 15px;
  border-radius: 25px;
}


.myGameL {
  justify-content: center;
}


.logoImgContainer {
  border-radius: 25%;
  margin: 15px;
  justify-content: center;
}


.logoImgContainer img {
  width: 125px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.googleContainer {
  margin: 5px;
  justify-content: center;
}

.googleContainer img {
  width: 250px;
}






/* details section  */


.myGamesDetails {
  font-family: var(--font-roboto);
  max-width: 60%;
}

.myGamesDetails h3 {
  font-size: 50px;
  font-weight: 500;
}

.myGamesDetails p {
  font-size: 20px;
  font-weight: 300;

  margin-top: 2%;

}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .myGames {
    width: 100%;
    gap: 9px;
  }

  .myGamesItem {
    flex-direction: column;
    background: #19376d;
    align-items: center;
    gap: 17px;
    background: #19376d;
    padding: 15px;
    border-radius: 25px;
  }

  .myGamesDetails {
    max-width: 100%;
  }

  .myGamesDetails h3 {
    font-size: 30px;
    text-align: center;
  }

  .myGamesDetails p {
    font-size: 16px;
    text-align: center;
  }
}