:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --gradient-frame: #446db9a1;
  --gradient-title: #19366d96;
  /* Fonts */
  --font-roboto: "Roboto";
  --font-gothic: 'Didact Gothic', sans-serif;
}